img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}