img {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* .projetos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
}
*/

header {
    margin-top: auto;
    display: block;
}

body {
    text-align: center;
    display: block;
}